*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}


@font-face{
    font-family: 'reborn';
    src: url('/src/fonts/burney.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'roboto';
    src: url('/src/fonts/Roboto-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}

@media (max-widht: 575px){
    *{
        font-size: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    *{
        font-size: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    *{
        font-size: 12px;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    *{
        font-size: 16px;
    }
}

@media (min-width: 1200px){
    *{
        font-size: 20px;
    }
}

@media (orientation: landscape){
    .portrait{
        display: none;
    }
}

@media (orientation: portrait){
    form, header, main {
        display: none;
    }

    .portrait{
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        justify-content: center;
        align-items: center;
        background-color: beige;
    }
    
    h1{
        font-family: 'reborn';
        font-size: 5vw;
    }
}

header{
    width: 90%;
    height: 10vh;
    top: 5%;
    left: 5%;
    background-color: beige;
    color: #423f32;
    border-radius: .5rem;
    position: fixed;
    box-shadow: 0 4px 6px rgba(0,0,0,.2);
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
	color: inherit;
	text-decoration: none;

}

.signIn, .logo{
    font-family: reborn;
    height: 80%;
    color: beige;
    border-radius: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo{
    background: linear-gradient(to right, beige, #423f32);
    width: 20%;
}

.signIn{
    background-color: #423f32;
    width: 15%;
}

.logoImage{
    width:33%;
    height: 100%;
}

.logoText{
    width:66%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1% 0;
}

.logoText p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.itemsContainer{
    width: 50%;
    height: 80%;
    display: flex;
}

.about, .login, .update{
    border-right: #423f32 solid .1rem;
    width: 33.33%;
    height: 100%;
}

.about{
    border: none;
}

.image{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.about a, .login a, .update a, .signIn a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}