body{
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.textWrapper{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    background: linear-gradient(to bottom, transparent, black);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5% 5%;
}

.text{
    color: white;
    font-size: 2rem;
    font-family: 'roboto';
    width: 40%;
    height: auto;

}

.title{
    font-size: 4rem;
}

.body{
    margin-left: 2.5%;
}