body{
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

header{
    width: 90%;
    height: 10vh;
    top: 5%;
    left: 5%;
    background-color: beige;
    color: #423f32;
    border-radius: .5rem;
    position: fixed;
    box-shadow: 0 4px 6px rgba(0,0,0,.2);
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
	color: inherit;
	text-decoration: none;
}

.signIn, .logo{
    font-family: reborn;
    height: 80%;
    color: beige;
    border-radius: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo{
    background: linear-gradient(to right, beige, #423f32);
    width: 20%;
}

.signIn{
    background-color: #423f32;
    width: 15%;
}

.logoImage{
    width:33%;
    height: 100%;
}

.logoText{
    width:66%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1% 0;
}

.logoText p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.itemsContainer{
    width: 50%;
    height: 80%;
    display: flex;
}

.about, .users, .update{
    border-right: #423f32 solid .1rem;
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.about{
    border: none;
}

.image{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.textWrapper{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    background: linear-gradient(to bottom, transparent, black);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5% 5%;
}

.text{
    color: white;
    font-size: 2rem;
    font-family: 'roboto';
    width: 40%;
    height: auto;

}

.title{
    font-size: 4rem;
}

.body{
    margin-left: 2.5%;
}